---
title: トップページ
description: ページ概要をここに
root: '.'
slug: 'top'
---

{% extends 'layout/_base.njk' %} {% block main -%}
<div class="p-index-fv">
  <div class="p-index-fv__inner">
    <img src="{{ root }}/img/top_main_txt.png" alt="TAKE THE STAGE" />
    <h2 class="p-index-fv__heading">新しいステージへ</h2>
    <h2 class="p-index-fv__heading">最初のdevelopの反映分</h2>
    <h2 class="p-index-fv__heading">２個目の反映分</h2>
  </div>
</div>
{%- endblock %}
